@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #800020; /* Rouge Bordeaux */
  --secondary: #ffffff; /* Blanc */
  --text-main: #000000; /* Noir */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-main: var(--text-main);
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: var(--font-inter), sans-serif;
}
